<app-purple-background>
    <div class="logo-panel__container">
        <img src="assets/images/logo_no_text.png" alt="Can't find image">
    </div>

    <section class="register-container">
        <div class="register-container__picture-upload">
            <p-avatar image= "{{ profilePicture$ | async }}" styleClass="p-mr-2" size="xlarge" shape="circle" [style]="{ 'width': '150px', 'height': '150px' }"></p-avatar>
            <input #profilePicInput id="profilePicInput" type="file" accept="image/*" (change)="onImageSelect($event)" hidden />
            <label class="profile-image__upload pi pi-plus" for="profilePicInput"></label>
        </div>

        <h1 class="register-container__title text-style-montserrat-medium-20">Sign up</h1>
        <form class="register-container__form" [formGroup]="registerFormGroup">
            <div class="form-control p-float-label">
                <input 
                    class="p-inputtext-lg" 
                    id="fullName-input" 
                    formControlName="fullName" 
                    pInputText type="text" />
                <label for="fullName-input" class="text-style-montserrat-regular-20">Full Name</label>
                <div *ngIf="fullName.invalid && fullName.touched" class="input__error p-invalid text-style-montserrat-regular-12">Full name should be at least 6 characters long</div>
            </div>
            <div class="form-control p-float-label">
                <input 
                    class="p-inputtext-lg" 
                    id="email-input" 
                    formControlName="email" 
                    pInputText type="email" />
                <label for="email-input" class="text-style-montserrat-regular-20">Email Address</label>
                <div *ngIf="email.invalid && email.touched" class="input__error p-invalid text-style-montserrat-regular-12">The email should be a valid email address</div>
            </div>
            <div class="form-control p-float-label">
                <input 
                    class="p-inputtext-lg"  
                    id="password-input" 
                    formControlName="password" 
                    pInputText type="password" />
                <label for="password-input" class="text-style-montserrat-regular-20">Password</label>
                <div *ngIf="password.invalid && password.touched" class="input__error p-invalid text-style-montserrat-regular-12">Password should be at least 6 characters long</div>
            </div>
            <div class="form-control p-float-label">
                <input 
                    class="p-inputtext-lg"  
                    id="confirmPassword-input" 
                    formControlName="confirmPassword" 
                    pInputText type="password" />
                <label for="confirmPassword-input" class="text-style-montserrat-regular-20">Confirm Password</label>
                <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="input__error p-invalid text-style-montserrat-regular-12">Confirm password should match the password above</div>
            </div>
            <div class="form-control">
                <p-button class="p-button-lg" type="button"
                 label="Sign up" (click)="onRegister()" [disabled]="registerFormGroup.invalid"></p-button>
                 <div *ngIf="(errorMessage$ | async) as errorMessage" class="input__error p-invalid text-style-montserrat-regular-15">{{ errorMessage }}</div>
            </div>
        </form>
        <div class="register-container__login text-style-montserrat-regular-15">
            You already have an account? <p class="sign-in__link" (click)="goToLogin()">Sign in</p>
        </div>
    </section>
</app-purple-background>