@import "assets/styles/fonts";

.logo-panel__container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.register-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.register-container__picture-upload {
    position: relative;
}

.register-container__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-control,
.register-container__login {
    color: #fef8ff;
    width: 350px;
}

.register-container__login {
    display: flex;
    justify-content: center;
}

.p-inputtext {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.p-inputtext:hover {
    border-bottom: 1px solid white;
}

.register-container__title,
.sign-in__link {
    color: white;
}

.sign-in__link {
    margin: 0px 0px 0px 3%;
    font-weight: bold;
    cursor: pointer;
}

.input__error {
    padding-top: 5px;
    color: #f19ea6;
    text-align: center;
}

::ng-deep .p-button {
    width: 100%;
    background: #6cafc7;
    border: unset;
    color: white;
    @extend .text-style-montserrat-medium-15;
}
