:host {
    .p-inputgroup {
        border: 1px solid #3f4b5b;
    }
}

.search-users {
    position: relative;
}

.search-users__cards {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.search-users__card,
.search-users__card--content {
    display: flex;
}

.search-users__card {
    background-color: #13043b;
    padding: 1em 2em;
    justify-content: space-between;

    &--email {
        color: #8a8a8f;
    }

    &--content {
        flex-direction: column;
    }
}
