<section class="event-details__container" *ngIf="(eventInfo$ | async) as eventInfo">
    <div class="event-details__title text-style-roboto-regular-35">
        <h1 class="event-details__title--marketing">{{eventInfo.event_title}}</h1>
        <p><i class="pi pi-calendar"></i>{{eventInfo.start_date | date: 'HH:mm | dd MMMM yyyy'}}</p>
    </div>
    <app-info-tabs [infoTextData]="{ description: eventInfo.description }" class="event_details__info"></app-info-tabs>
    <app-guests-list
        (onSearchLoadUsers)="loadSearchUsers($event)"
        (onCloseGuestsModal)="clearUsers()" 
        (onAddUser)="addUser($event)"
        [users]="users$ | async" 
        [guestList]="(guestList$ | async)" 
        class="event_details__guests">
    </app-guests-list>
    <app-event-details-carousel 
        [locationData]="locationData$ | async"
        [reviewsList]="reviewsList$ | async"
        class="event_details__carousel">
    </app-event-details-carousel>
    <app-work-board class="event_details__work-board"></app-work-board>
</section>