<div class="work-board">
    <div class="work-board__header">
        <div class="work-board-text__container">
            <p class="work-board__title text-style-roboto-regular-25">Extensions</p>
        </div>
        <p-speedDial [buttonStyle]="{ 'background-color': '#a050c7', 'width': '3.5rem', 'height': '3.5rem', 'margin-top': '0.2em', 'color': 'white', 'border': 'none' }" [model]="items" direction="down"></p-speedDial>
    </div>
    <div cdkDropList class="work-board__items" (cdkDropListDropped)="dropExtension($event)">
        <div *ngFor="let extensionItem of allExtensions" cdkDrag>
            <ng-container *ngIf="extensionItem.items">
                <app-checklist-item 
                    [checklistItem]="extensionItem"
                    (onUpdateChecklistItem)="onUpdateChecklistItem.emit($event)">
                </app-checklist-item>
            </ng-container>
            <ng-container *ngIf="extensionItem.scheduled">
                <app-reminder-item
                    [reminderItem]="extensionItem">            
                </app-reminder-item>
            </ng-container>
        </div>
    </div>
</div>
