:host {
    ::ng-deep {
      .p-speeddial {
          position: static;
      }
    }
}

.event_details__work-board {
    background-color: #13043b;
    border-radius: 25px;
    padding: 2em 0;
    height: 100%;
}

.event_details__work-board__title {
    background-color: #a050c7;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 38px;
    text-align: center;
    margin-top: 0.2em;
}

.event_details__work-board__header {
    display: flex;
    justify-content: center;
    gap: 1em;
}

@media (max-width: 1300px) {
    .event_details__work-board {
        padding: 1em;
    }
}