<div *ngIf="(searchResults$ | async) as searchResults" class="search__container">
    <ng-container *ngIf="searchResults.length > 0">
        <p-virtualScroller
            [itemSize]="160" [rows]="10"
            [scrollHeight]="calcHeight(searchResults)"
            [lazy]="true"
            [value]="searchResults" (onLazyLoad)="loadResultsLazy()">
            <ng-template let-result pTemplate="item">
                <div class="search-element__container">
                    <div class="image__container">
                        <img src="{{ getImageUrl(result) }}"
                        onerror="if (this.src != 'assets/images/no-photo.jpg') this.src = 'assets/images/no-photo.jpg';">
                    </div>

                    <div class="location-description__container">
                        <div class="text-content__container">
                            <div class="location-name text-style-roboto-bold-24">
                                <p>{{ result.name }}</p>
                            </div>
                            <div class="location-address text-style-roboto-regular-16">
                                <p>{{ result.vicinity }}</p>
                            </div>
                        </div>

                        <div class="bottom-search-elements__container 
                            text-style-roboto-regular-14"
                            *ngIf="result.rating">
                            <div class="location-reviews">
                                <p>{{ getLocationReviews(result) }}</p>
                            </div>

                            <div class="location-open" *ngIf="result.opening_hours">
                                <p>{{ getIsOpen(result) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-result pTemplate="loadingItem">
                Loading...
            </ng-template>
        </p-virtualScroller>
    </ng-container>
</div>
