<div *ngIf="(searchResults$ | async) as searchResults" class="search__container">
    <ng-container *ngIf="searchResults.length > 0">
        <p-virtualScroller
            [itemSize]="160" [rows]="10"
            [scrollHeight]="calcHeight(searchResults)"
            [lazy]="true"
            [value]="searchResults" (onLazyLoad)="loadResultsLazy()">
            <ng-template let-result pTemplate="item">
                <div class="search-element__container"
                    (click)="elementClicked(result)">
                    <div class="image__container">
                        <img src="{{ getImageUrl(result) }}"
                        onerror="if (this.src != 'assets/images/no-photo.jpg') this.src = 'assets/images/no-photo.jpg';">
                    </div>

                    <div class="location-description__container">
                        <div class="text-content__container">
                            <div class="location-name text-style-roboto-bold-20">
                                <p>{{ result.name }}</p>
                            </div>
                            <div class="location-address text-style-roboto-regular-14">
                                <p>
                                    <fa-icon [icon]="faIcons[0]"></fa-icon>
                                    {{ result.vicinity }}</p>
                            </div>
                        </div>

                        <div class="bottom-search-elements__container 
                            text-style-roboto-regular-14"
                            *ngIf="result.rating">
                            <div class="reviews-label__container">
                                <p>{{ getLocationReviews(result) }}</p>
                            </div>
                            <div class="location-isOpen__container">
                                <div class="location-reviews">
                                    <p-rating [ngModel]="result.rating" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                                </div>

                                <div class="location-open" *ngIf="result.opening_hours">
                                    <p>
                                        <fa-icon [icon]="faIcons[1]"></fa-icon>
                                        {{ getIsOpen(result) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-result pTemplate="loadingItem">
                Loading...
            </ng-template>
        </p-virtualScroller>
    </ng-container>
</div>
