.search__container {
    margin: 1rem 0 0 0;
    color: red;
    background-color: #20262e;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    border-radius: 4px;
}

.search-element__container {
    width: 100%;
    min-height: 60px;
}
