<div class="event_details__info">
    <h1 class="text-style-montserrat-medium-20 event_details__info__header">Description</h1>

    <div 
        (click)="checkIfCanOpenEditor()"
        [innerHTML]="description"
        class="event_details__info__description text-style-montserrat-regular-15">
    </div>

    <p-dialog
        [header]="'Edit Description'"
        [(visible)]="openEditor"
        [style]="{ width: '40vw', height: '60vh' }">
        <div class="description-dialog-content__container">
            <p-editor *ngIf="openEditor" [(ngModel)]="description"></p-editor>
            
            <div class="description-save-btn__container">
                <button 
                    class="event_details__info--save-btn text-style-roboto-regular-20" 
                    (click)="saveText()">
                    Save
                </button>
            </div>
        </div>
    </p-dialog>
</div>