.event_details__info {
    background-color: #13043b;
    border-radius: 25px;
    padding: 1.25em;
    color: #fff;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 700px;
    height: 300px;
}

.event_details__info__header {
    padding-bottom: 1em;
}

.event_details__info__description {
    border: 2px solid transparent;
    padding: 1.25em;
    color: #fff;
    overflow-y: scroll;
    height: 100%;

    &:hover {
        border: 2px solid white;
        cursor: pointer;
    }
}

.event_details__info--save-btn {
    outline: none;
    background-color: #4019a8;
    color: #fff;
    border-radius: 25px;
    padding: 0.5em;
    align-self: flex-start;
    border: unset;
    cursor: pointer;
    margin-top: 1.25em;
    
    &:hover {
      background-color: #a050c7;
    }
}

@media (max-width: 1300px) {
    .event_details__info {
        padding: 0.5em 0;
        width: 28em;
    }
}