:host {
    ::ng-deep {
        .search-users__input {
            span,
            input {
                background: transparent;
                border: unset;
                border-bottom: 1px solid white;
            }

            input {
                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}

.reminder-form__container {
    display: flex;
    flex-direction: column;
}

.reminder-form__header {
    color: white;
    background-color: #4019a8;
    width: 100%;
    height: 4rem;
    display: flex;
    border-radius: 25px 25px 0 0;
    position: sticky;
    top: 0;
    z-index: 1;

    .reminder-form__header__main,
    .reminder-form__header__viewers {
        display: flex;
        width: 50%;
        height: 100%;
        cursor: pointer;
        align-items: center;
        padding: 0 3rem;

        &:hover {
            background-color: #a050c7;
            color: white;
        }
    }

    .reminder-form__header__main {
        justify-content: flex-start;

        &:hover {
            border-radius: 25px 0 0 0;
        }
    }

    .reminder-form__header__viewers {
        justify-content: flex-end;

        &:hover {
            border-radius: 0 25px 0 0;
        }
    }
}

.reminder-form__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.reminder-form__viewers {
    padding: 1em 3em;

    h1 {
        padding: 0.5em 0;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
}

.reminder-form__submit-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2rem 0 0;
    
    button {
        margin: 0 0 0 1rem;
        border-radius: 15px;
        border: none;
        background-color: #a050c7;
        color: white;
        width: 7rem;
        padding: 0.5em;
    }
}