<div class="event_details__guests">
    <div class="event_details__guests__titles text-style-montserrat-medium-20">
        <h3 class="event_details__guests__titles--guests">Guests</h3>
        <h3 class="event_details__guests__titles--status">Status</h3>
    </div>

    <ng-container *ngIf="guestList">
        <ng-container  *ngTemplateOutlet="guestsTemplate; context:{ count: 3 }">
        </ng-container >

        <p class="event_details__guests__see-all text-style-montserrat-medium-15" 
            (click)="showAllGuests = true">
            see all
        </p>

        <p-dialog
            (onHide)="closeModal()"
            [header]="modalTitle"
            [(visible)]="showAllGuests"
            [style]="{ width: '50vw', height: '70vh' }">

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input #searchBox type="text" pInputText placeholder="Add Guest" (input)="searchTerm(searchBox.value)">         
            </div>

            <ng-container class="event_details__guests__users" *ngIf="users">
                <div class="event_details__guests__users__card" *ngFor="let user of users">
                    <div class="event_details__guests__users__card--content">
                        <p class="text-style-montserrat-medium-15">{{user.fullname}}</p>
                        <p class="event_details__guests__users__card--email">{{user.email}}</p>
                    </div>
                    <p-button (click)="addUser(user.id)" icon="pi pi-plus"></p-button>
                </div>
            </ng-container>

            <ng-container *ngTemplateOutlet="
                guestsTemplate; context:{ count: guestList.length }">
            </ng-container>
        </p-dialog>
    </ng-container>
</div>

<ng-template #guestsTemplate let-count="count">
    <div *ngFor="let guest of guestList | slice: 0:count" class="event_details__guests__card__container">
        <div class="event_details__guests__card">
            <div class="event_details__guests__card--pic">
                <ng-container *ngIf="guest.guest_user_account.profile_picture !== ''">
                    <img [src]= "getPicturePath(guest.guest_user_account.profile_picture)" />
                </ng-container>
                <ng-container *ngIf="guest.guest_user_account.profile_picture === ''">
                    <img src="assets/images/default-user.png" />
                </ng-container>
            </div>
            <div class="event_details__guests__card--text">
                <h5 class="event_details__guests__card--name text-style-montserrat-medium-15">{{guest.guest_user_account.fullname}}</h5>
                <p class="event_details__guests__card--email text-style-montserrat-medium-15">{{guest.guest_user_account.email}}</p>
            </div>
        </div>
        <div class="event_details__guests__status">
            <p [ngStyle]="
                guest.status === 'attending' ? 
                { 'color': '#75ffb6' } : 
                { 'color': 'red' }" 
                class="text-style-montserrat-medium-15">{{guest.status.charAt(0).toUpperCase() + guest.status.slice(1)}}</p>
        </div>
    </div>
</ng-template>
