.event_details__guests__titles,
.event_details__guests__card__container,
.event_details__guests__card,
.event_details__guests__card--text,
.event_details__guests__users__card,
.event_details__guests__users__card--content {
    display: flex;
}

.event_details__guests__card__container,
.event_details__guests__titles {
    justify-content: space-between;
    padding: 1em;
}

.event_details__guests {
    background-color: #13043b;
    border-radius: 25px;

    &__titles {
        &--guests {
            color: #fff;
        }

        &--status {
            color: #8a8a8f;
        }
    }

    &__see-all {
        color: #8a8a8f;
        text-align: center;
        padding-bottom: 0.5em;
    
        &:hover {
            cursor: pointer;
            color: #fff;
        } 
    }
}

.event_details__guests__users__card {
    background-color: #13043b;
    margin-top: 0.5em;
    padding: 1em 2em;
    justify-content: space-between;

    &--email {
        color: #8a8a8f;
    }

    &--content {
        flex-direction: column;
    }
}

.event_details__guests__card {
    &--pic {
        img {
            width: 60px;
            height: 60px;
        }
    }

    &--text {
        flex-direction: column;
        padding-left: 10px; 
    }

    &--name {
        color: #fff; 
    }

    &--email {
        color: #8a8a8f;
    }
}

.p-inputgroup {
    border: 1px solid #3f4b5b;
}