<div class="event_details__guests">
    <div class="event_details__guests__titles text-style-montserrat-medium-20">
        <h3 class="event_details__guests__titles--guests">Guests</h3>
        <h3 class="event_details__guests__titles--status">Status</h3>
    </div>

    <ng-container *ngIf="guestList">
        <div *ngFor="let guest of guestList | slice: 0:3" class="event_details__guests__card__container">
            <app-guest-card [currentUser]="currentUser" [guest]="guest" [eventOwnerId]="eventOwnerId" (onMessage)="this.onMessage.emit($event)"></app-guest-card>
        </div>

        <p class="event_details__guests__see-all text-style-montserrat-medium-15" 
            (click)="showAllGuests = true">
            see all
        </p>

        <p-dialog
            (onHide)="closeModal()"
            [header]="modalTitle"
            [(visible)]="showAllGuests"
            [style]="{ width: '50vw', height: '70vh' }">

            <app-search-users 
                [users]="users"
                placeholder="Add Guests"
                (onSearchLoadUsers)="onSearchLoadUsers.emit($event)"
                (onAddUser)="addUser($event)">
            </app-search-users>

            <div *ngFor="let guest of guestList" class="event_details__guests__card__container">
                <app-guest-card [currentUser]="currentUser" [guest]="guest" [eventOwnerId]="eventOwnerId"></app-guest-card>
            </div>
        </p-dialog>
    </ng-container>
</div>
