.event_details__guests__titles {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.event_details__guests {
    background-color: #13043b;
    border-radius: 25px;

    &__titles {
        &--guests {
            color: #fff;
        }

        &--status {
            color: #8a8a8f;
        }
    }

    &__see-all {
        color: #8a8a8f;
        text-align: center;
        padding-bottom: 0.5em;
    
        &:hover {
            cursor: pointer;
            color: #fff;
        } 
    }
}