<div class="event_details__carousel">
    <ng-container *ngIf="locationData">
        <div class="event_details__carousel__pictures">
            <p-carousel 
                [value]="imageUrls" 
                [numVisible]="1" 
                [numScroll]="1" 
                [showNavigators]="false">
            <ng-template let-image pTemplate="content">
                <div class="image__container">
                    <img [src]="image" />
                </div>
            </ng-template>
            </p-carousel>
        </div>
        <div class="event_details__carousel__event-info">
            <h2 class="text-style-roboto-regular-25">{{locationData.name}}</h2>
            <p class="text-style-montserrat-medium-15">
                <fa-icon  [icon]="faIcons[0]"></fa-icon>{{locationData.formattedAddress}}
            </p>
            <div class="location-working-hours__container text-style-montserrat-medium-15">
                <div class="icon__container">
                    <fa-icon [icon]="faIcons[1]"></fa-icon>
                </div>
                <div class="working-hour__container">
                    <div *ngFor="let weekday of locationData.opening_hours.weekday_text">
                        {{ weekday }}
                    </div>
                </div>
            </div>
            <p class="text-style-montserrat-medium-15">
                <fa-icon [icon]="faIcons[2]"></fa-icon>
                <a [href]="locationData.website">
                    {{locationData.website}}
                </a>
            </p>
        </div>
        <app-guest-reviews [reviewsList]="reviewsList" class="event_details__carousel__reviews"></app-guest-reviews>
    </ng-container>
</div>