:host {
 ::ng-deep {
    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    .p-carousel-items-content {
        border-radius: 30px;
    }
 }
}

.event_details__carousel__pictures,
.event_details__carousel__reviews {
    width: 40%;
}

.event_details__carousel {
    display: flex;
    background-color: #13043b;
    border-radius: 25px;
    gap: 2em;
    padding: 1em 1em 0 1em;
}

.event_details__carousel__event-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    h2 {
        border-bottom: 3px solid #a050c7;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    p {
        display: flex;
    }


    .location-working-hours__container {
        display: flex;
    }

    .working-hour__container {
        display: flex;
        flex-direction: column;
        div {
            padding: 0 0 0.25rem 0;
        }
    }
}

.image__container {
    position: relative;
    padding-top: 56.25%;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
}

fa-icon {
    padding-right: 5px;
    color: #9f4bff;
}