<div class="home__container">

    <div class="header-elements__container">
        <div class="logo-panel__container">
            <img src="assets/images/logo_with_text.png" alt="Can't find image">
        </div>
    
        <div class="menu-elements__container">
            <ul class="menu__container" style="list-style-type:none;">
                <li class="menu-element">Why Venty?</li>
                <li class="menu-element">Features</li>
                <li class="menu-element">Pricing</li>
            </ul>
        </div>
    </div>

    <div class="home-elements__container">
        <div class="elements__container">
            <div class="heading-home-element">
                <p>Event Creation & Managing</p>
            </div>
            <div class="text-home-element">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                </p>
            </div>
            <div class="buttons-home__container">
                <button pButton type="button" label="Click" >Click</button>
            </div>
        </div>
    </div>
</div>