<div class="event_details__guest-reviews">
    <div class="event_details__guest-reviews__titles">
        <h3 class="text-style-montserrat-medium-20">Reviews ({{reviewsList.count}})</h3>
    </div>

    <div *ngFor="let review of reviewsList.reviews" class="event_details__guest-reviews__card__container">
        <div class="event_details__guest-reviews__card">
            <div class="event_details__guest-reviews__card--pic">
                <img src="/assets/images/profile-pic-female.png" />
            </div>
            <div class="event_details__guest-reviews__card--text">
                <h5 class="event_details__guest-reviews__card--name text-style-montserrat-medium-15">{{review.fullName}}</h5>
                <p-rating [ngModel]="review.rating" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            </div>
        </div>
        <div class="event_details__guest-reviews__card--review-date text-style-montserrat-medium-15">
            <p>{{review.createdOn}}</p>
        </div>
    </div>

    <p class="event_details__guest-reviews__see-all text-style-montserrat-medium-15">see all</p>
</div>