@import "assets/styles/fonts";


.event-title__container {
    height: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    padding: 0 0 0 1rem;
}