<app-purple-background>
    <section class="login-container">
        <div class="login-container__logo">
            <img src="/assets/images/logo_no_text.png" />
        </div>
        <h1 class="login-container__title text-style-montserrat-medium-20">Sign in</h1>
        <form class="login-container__form" [formGroup]="loginFormGroup">
            <div class="form-control p-float-label">
                <input 
                    class="p-inputtext-lg" 
                    id="email-input" 
                    formControlName="email" 
                    pInputText type="email" />
                <label for="email-input" class="text-style-montserrat-regular-20">Email Address</label>
                <div *ngIf="email.invalid && email.touched" class="input__error p-invalid text-style-montserrat-regular-12">The email should be a valid email address</div>
            </div>
            <div class="form-control p-float-label">
                <input 
                    class="p-inputtext-lg"  
                    id="password-input" 
                    formControlName="password" 
                    pInputText type="password" />
                <label for="password-input" class="text-style-montserrat-regular-20">Password</label>
                <div *ngIf="password.invalid && password.touched" class="input__error p-invalid text-style-montserrat-regular-12">Password should be at least 6 characters long</div>
            </div>
            <div class="form-control">
                <p-button class="p-button-lg" type="button"
                 label="Sign in" (click)="onLogin()" [disabled]="loginFormGroup.invalid"></p-button>
                 <div *ngIf="(errorMessage$ | async) as errorMessage" class="input__error p-invalid text-style-montserrat-regular-15">{{ errorMessage }}</div>
            </div>
        </form>
        <div class="login-container__register text-style-montserrat-regular-15">
            You don't have an account? <p class="sign-up__link" (click)="goToRegister()">Sign up</p>
        </div>
        <p-toast position="bottom-center"></p-toast>
    </section>
</app-purple-background>