@import "assets/styles/fonts";
@import '~angular-calendar/scss/angular-calendar.scss';
@import 'assets/styles/google-search-box.scss';


.dark-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-dark-primary: rgba(37, 38, 40, 0);
  $bg-dark-today: rgb(70, 70, 70, 0);
  $bg-dark-secondary: rgba(120, 0, 156, 0.0);
  $bg-active: rgba(255, 255, 255, 0.068);
  $text-color: white;
  $secondary-text-color: #c2c2c2;
  $border-color: #532a68;

  // Call the calendar mixin with a sass color map of your theme. Every property is optional.
  // For a list of all variables and how they are used,
  // see https://github.com/mattlewis92/angular-calendar/tree/master/projects/angular-calendar/src/variables.scss
  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: $text-color,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-today,
      event-color-primary: $bg-dark-secondary,
    )
  );

  // How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 1;
  }

  // Everything else below is just themes the demo, it's probably not relevant to your app
  background-color: $bg-dark-primary;
  color: $text-color;
  @extend .text-style-montserrat-regular-12;

  .cal-month-view .cal-cell-top {
    min-height: 50px;
    flex: 0 1 0;
  }

  .cal-month-view .cal-day-number {
    float: left;
    margin-left: 15px;
    opacity: 1;
  }

  .cal-day-cell.cal-today {
    font-size: 0.65rem;
  }

  .cal-day-badge {
    background-color: $border-color !important;
    color: $text-color !important;
  }

  .cal-header {
    height: 24px;
    text-transform: uppercase;
    width: 100%;
    color: $secondary-text-color;
  }

  .card {
    border-color: $border-color;
  }

  .card-header {
    background-color: $bg-dark-secondary;
  }

  .cal-events {
    display: none;
  }

  .card-body {
    background-color: $bg-dark-primary;
  }

  .nav-tabs {
    border-bottom-color: $border-color;
  }

  .nav-tabs .nav-link.active {
    background-color: $bg-dark-primary;
    color: $text-color;
    border-color: $border-color;
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: $border-color;
  }

  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    background-color: #cf27b3;
    padding: 0.2rem;
    font-size: 1.7em;
    border-radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #49484d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #49484d; 
}