@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

// Montserrat Medium
.text-style-montserrat-medium-20 {
    font-family: "Montserrat-Medium";
    font-size: 1.25em;
}

.text-style-montserrat-medium-15 {
    font-family: "Montserrat-Medium";
    font-size: 0.9em;
}

// Montserrat Regular
.text-style-montserrat-regular-20 {
    font-family: "Montserrat-Regular";
    font-size: 1.25em;
}

.text-style-montserrat-regular-15 {
    font-family: "Montserrat-Regular";
    font-size: 0.9em;
}

.text-style-montserrat-regular-12 {
    font-family: "Montserrat-Regular";
    font-size: 0.75em;
}

.text-style-montserrat-regular-10 {
    font-family: "Montserrat-Regular";
    font-size: 0.625em;
}

// Roboto Regular
.text-style-roboto-regular {
    font-family: "Roboto-Regular";
}

.text-style-roboto-regular-45 {
    font-family: "Roboto-Regular";
    font-size: 2.8em;
}

.text-style-roboto-regular-35 {
    font-family: "Roboto-Regular";
    font-size: 2.2em;
}

.text-style-roboto-regular-26 {
    font-family: "Roboto-Regular";
    font-size: 1.625em;
}

.text-style-roboto-regular-25 {
    font-family: "Roboto-Regular";
    font-size: 1.5em;
}

.text-style-roboto-regular-20 {
    font-family: "Roboto-Regular";
    font-size: 0.9em;
}

.text-style-roboto-regular-16 {
    font-family: "Roboto-Regular";
    font-size: 1em;
}

.text-style-roboto-regular-15 {
    font-family: "Roboto-Regular";
    font-size: 0.9em;
}

.text-style-roboto-regular-14 {
    font-family: "Roboto-Regular";
    font-size: 0.875em;
}

.text-style-roboto-regular-12 {
    font-family: "Roboto-Regular";
    font-size: 12px;
}

.text-style-roboto-regular-14-px {
    font-family: "Roboto-Regular";
    font-size: 14px;
}

//Roboto Bold
.text-style-roboto-bold {
    font-family: "Roboto-Bold";
}

.text-style-roboto-bold-24 {
    font-family: "Roboto-Bold";
    font-size: 24px;
}

.text-style-roboto-bold-20 {
    font-family: "Roboto-Bold";
    font-size: 20px;
}