<app-purple-background>
    <input
        pInputText
        id="pac-input"
        class="controls"
        type="text"
        placeholder="Search Box"
    />
    <div #map class="map__container">
    </div>
    <!-- <div #infowindowContent id="infowindow-content">
        <img id="place-icon" src="" height="16" width="16" />
        <span id="place-name" class="title"></span><br />
        Place ID <span id="place-id"></span><br />
        <span id="place-address"></span>
    </div> -->
</app-purple-background>