.map__container {
    width: 100%;
    padding: 4rem 0px 0px 4rem;
    height: 100%;
}

.map__container:focus {
    outline: none;
}

.custom-map-control-button {
    background-color: yellow !important;
}

.gm-style iframe + div { border:none!important; }

.p-input-icon-right {
    width: 100%;
}

.pac-input {
    font-family: Roboto;
    font-weight: 300;
    width: 100%;
    height: 100%;
    background-color: #20262e;
}
  
// .pac-input:active {
//     border: 1px solid #3f4b5b;
// }

.search-elements__container {
    width: 600px;
}

.search-results__container {
    margin: 20px 0 0 0;
}

.search-header__container {
    display: flex;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
}

::ng-deep .p-multiselect-header {
    content-visibility: hidden;
}

::ng-deep .p-multiselect {
    min-width: 10rem;
    width: 12rem;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
}

::ng-deep .p-selectbutton .p-button {
    background-color: #20262e;
    border: 1px solid #3f4b5b;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
}
  
.create-event__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;
    padding: 1rem 0 0 0;
}

::ng-deep .create-event__form .p-calendar .p-inputtext {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.form-control {
    color: #fef8ff;
    width: 350px;
}

.create-event__form .p-inputtext {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

::ng-deep .p-calendar {
    width: 100%;
    outline: none;
}

.input__error {
    color: #f19ea6;
    text-align: center;
}

::ng-deep .p-dialog-content {
    overflow-y: inherit !important;
}

.submit-button {
    width: 100%;
    display: flex;
    justify-content: center;
}