<div class="calendar-component__container" 
    *ngIf="(events$ | async) as events">
    <div class="calendar-header__container">
        <div class="left-header__container">
            <p-calendar class="header__datepicker" [(ngModel)]="viewDate" view="month" dateFormat="MM yy" [readonlyInput]="true"[showIcon]="true" icon="pi pi-angle-down" inputId="monthpicker"></p-calendar>
            <div class="p-buttonset">
                <button pButton mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" type="button" icon="pi pi-angle-left"></button>
                <button pButton mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" type="button" icon="pi pi-angle-right"></button>
            </div>
        </div>

        <div class="center-header__container text-style-roboto-bold-20">
            <p>Events Calendar</p>
        </div>
        <div class="right-header__container">
            <button class="p-button-sm today-button" pButton mwlCalendarToday [(viewDate)]="viewDate" type="button" label="Today"></button>
        </div>
    </div>
    <mwl-calendar-month-view
        [viewDate]="viewDate" 
        [events]="events"
        [cellTemplate]="customCellTemplate"
        (eventClicked)="handleEvent($event.event)"   
        >
    </mwl-calendar-month-view>
    <p-dialog [header]="headerText" [contentStyle]="{'overflow':'visible'}" [(visible)]="display" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false">
        <ng-container *ngFor="let event of popUpEvents">
            <div class="pop-up-event__container">
                <p (click)="handleEvent(event)">{{event.title }}</p>

                <div class="event-colorpicker__container">
                    <p-colorPicker [(ngModel)]="event.color"></p-colorPicker>
                </div>
            </div>
        </ng-container>
        <div class="dialog-close__container">
            <p-button class="dialog-close-btn" (click)="display=false"
            label="Confirm" styleClass="p-button-text"></p-button>
        </div>
    </p-dialog>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale"
    let-eventClicked="eventClicked">
    <div class="cal-cell-top">
        <div class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </div>
    </div>

    <div class="event-cells__container">
        <div class="event-cell__container"
            *ngFor="let event of sortEvents(day.events, day.date); index as i" (mwlClick)="eventClicked.emit({event: event})">
            <ng-template *ngIf="i < 2; then showEventsBlock; else showMoreBlock">
            </ng-template>
            <ng-template #showEventsBlock>
                <div *ngIf="!checkIfPlaceholder(day.date, event)"
                    class="event-title__container text-style-roboto-regular-14-px" 
                    [style.background-color]="event.color"
                    [style.border-radius]="getCellBorderRadius()"
                    [style.width]="calculateEventWidth(event, day.date)">
                    <p>
                        {{ event.title }}
                    </p>
                </div>                
            </ng-template>
            <ng-template #showMoreBlock>
                <ng-container *ngIf="i === 2">
                    <div class="showmore__container text-style-roboto-regular-12" (mwlClick)="handleMoreEvent(day.date, day.events)">
                        <a class="showmore__element"> {{day.events.length - 2}} more</a>
                    </div>
                </ng-container>
            </ng-template>
        </div>
    </div>
  </ng-template>