:host {
    ::ng-deep {
        .p-inputtext {
            border: none;
            background-color: transparent;
        }
        
        .p-inputtext:enabled:focus {
            border: none;
            box-shadow: none;
        }
        
        .p-button:enabled:focus {
            border: none;
            box-shadow: none;
        }
        
        .p-button:enabled:hover {
            color: white;
        }

        .p-dialog {
            border: none;
        }
        
        .p-dialog-header, .p-dialog-content {
            background: #13043b !important;
        }

        .p-dialog-header {
            border-radius: 25px 25px 0 0 !important;
            border-bottom: 2px solid #9f4bff !important;
            padding: 1rem 2rem !important;
        }

        .p-dialog-header-icon {
            color: #9f4bff !important;
        }

        .p-dialog-content {
            border-radius: 0 0 25px 25px !important;
            padding: 1rem 2rem;
        }  

        .p-dialog .p-button {
            background: #a253c8;
            border: 1px solid #450067;
            color: white;
            width: 10rem;
            height: 2rem;
        }

        .p-button-icon-only {
            background-color: transparent !important;
            color: white;
            border: none;
        }

        .header__datepicker .p-calendar-w-btn .p-inputtext {
            cursor: pointer;
        }
    }
}


.calendar-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.05rem;
    border-top: 2px solid #532a68;
    border-bottom: 2px solid #532a68;
}

.left-header__container {
    display: flex;
    padding: 0px 0px 0px 1rem;
}

.p-buttonset button {
    background-color: transparent;
    color: white;
    border: none;
}

.header__datepicker {
    width: 11rem;
}

.today-button {
    background-color: #a253c8;
    border-color: #532a68;
    color: white;
}

.today-button:hover {
    background-color: rgba(255, 255, 255, 0.068);
    border-color: #565557;
}

.right-header__container {
    padding: 0px 1rem 0px 0px;
}

.calendar-component__container {
    width: 100%;
    height: 100%;
}

.event-cells__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 6.8rem;
}

.event-cell__container {
    flex: 0 1 31%;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.showmore__container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 0 0 0.5rem;
    background-color: transparent;
}

.event-title__container {
    height: 2rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background: #8c6fec;
}

.pop-up-event__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.pop-up-event__container p {
    cursor: pointer;
}

.event-colorpicker__container {
    position: relative;
}

.dialog-close__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}